@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

//Colors
//NavBar
$navBar-primary-95: #f2f2f2;
$navBar-primary-80: #cccccc;
$navBar-primary-65: #a6a6a6;
$navBar-primary-50: #808080;
$navBar-primary-35: #595959;
$navBar-primary-20: #333333;
$navBar-primary-5: #0d0d0d;

//Other
$active-color: orange;
$active-bright-color: rgb(230, 149, 0);
$safe-color: green;
$error-color: red;
$danger-color: orange;


//Font
$font-header: 'Roboto', sans-serif;
$font-normal: 'Noto Sans', sans-serif;