@import '../../assets/constants/styleConstants.scss';

//Calc
$todo-item-width: calc(100% / 2);
$todo-item-height: calc(100% / 1);
$icon-size-portrait: calc(100vw / 40);
$data-name-font-size: 38px;
$data-title-font-size: 24px;
$data-font-size-landscape: 50px;
$item-padding-horizontal: calc(100vw / 300);


.Todos {
    //Object size
    width: 100%;
    max-width: 100%;
    height: 100vh;

    //Color
    background-color: $navBar-primary-95;


    //ContentContainer
    >.ContentContainer {
        //Content position
        padding: 0px 24px;


        //TodoItem
        .TodoItem {
            //Object size
            width: $todo-item-width;

            //Content positon
            padding: 10px $item-padding-horizontal;


            //Container
            >.Container {
                //Flex
                display: flex;
                flex-direction: row;

                //Object size
                height: $todo-item-height;
                max-height: 325px;
                max-width: 1100px;

                //Content position
                padding: 16px;

                //Object position
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 24px;

                //Color
                background-color: white;

                //Shadow
                box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

                //RWD portrait
                @media (orientation: portrait) {
                    //Flex
                    flex-direction: column;
                }


                //Icon
                >.Icon {
                    //Flex
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    //Font
                    font-size: 200px;

                    //Color
                    color: $navBar-primary-5;

                    //Content position
                    padding: 24px;

                    //RWD portrait
                    @media (orientation: portrait) {
                        //Font
                        font-size: 120px;
                        padding: 0;
                    }

                    @media (max-width: 600px) and (orientation: portrait) {
                        font-size: 64px;
                    }


                    &.Completed {
                        color: $safe-color;
                    }

                    &.Pending {
                        color: $danger-color;
                    }

                    &.Overdue {
                        color: $error-color;
                    }
                }


                //Data
                >.Data {
                    //Font
                    font-size: $icon-size-portrait;

                    //Content positon
                    text-align: center;

                    //Flex
                    flex: 1;

                    //RWD portrait
                    @media (orientation: portrait) {
                        //Flex
                        font-size: 16px;

                        //Object positon
                        margin-top: 8px;
                    }


                    >h1 {
                        font-size: $data-name-font-size;
                        font-family: $font-header;
                        color: $navBar-primary-5;

                        @media (max-width: 600px) {
                            font-size: 32px;
                        }
                    }


                    >h3 {
                        font-size: $data-title-font-size;
                        font-family: $font-normal;
                        color: $navBar-primary-35;

                        //RWD portrait
                        @media (orientation: portrait) {
                            font-size: 24px;
                        }

                        @media (max-width: 600px) {
                            font-size: 20px;
                        }
                    }

                    >p {
                        font-size: 32px;
                        font-family: $font-normal;
                        color: $safe-color;
                        font-weight: bold;

                        &.Pending {
                            color: $danger-color;
                        }

                        //RWD portrait
                        @media (orientation: portrait) {
                            font-size: 24px;
                        }

                        @media (max-width: 600px) {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}